# dependencies
node_modules/

# builds
dist/
build/

# env files
.env
.env.local
.env.*.local

# Supabase
.supabase/
supabase/.temp/
supabase/.branches/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDE
.vscode/


